<form class="form-signin">
        <h2 class="form-signin-heading">Enter API Credentials</h2>
        <label for="canvasUrl" class="sr-only">Canvas URL</label>
        <input type="text" id="canvasUrl" class="form-control" placeholder="Canvas URL" required autofocus ng-model="apiCreds.url">
        <label for="apiKey" class="sr-only">API Key</label>
        <input type="text" id="apiKey" class="form-control" placeholder="API Key" ng-model="apiCreds.apiKey" required>
        <button class="btn btn-lg btn-primary btn-block" ng-click="checkCreds()">Connect</button>
      </form>
      <div ng-show="authSuccess === true" class="alert alert-success">
        <h3> <span class="glyphicon glyphicon-circle-ok"></span>Successfully Connected!</h3>
        <h4>You have access to the following accounts:</h4>
        <p>{{apiCreds.account.name}}</p>
        <a ng-href="/#/dashboard"><p>Start Using the API <span class="glyphicon glyphicon-chevron-right"></span></p></a>
      </div>