<div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a ng-href="/#/dashboard">Dashboard</a></li>
            <li role="presentation"><a href="/#/home">Auth</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">{{apiCreds.account.name}}&nbsp;<span class="label label-default">{{apiCreds.account.id}}</span></h3>
      </div>

      <form>
        <div class="form-group">
          <label for="parentCourseID">Parent Course ID <span class="glyphicon glyphicon-ok-circle" ng-show="parentSectionGood === true"></span></label>
          <input type="text" class="form-control" id="parentCourseID" placeholder="Parent Course ID" ng-model="newCourseObj.courseObj.parentCourseID">
        </div>
        <div class="form-group">
          <label for="childCourseID">Child Course ID <span class="glyphicon glyphicon-ok-circle" ng-show="childSectionGood === true"></span></label>
          <input type="text" class="form-control" id="childCourseID" placeholder="Parent Course ID" ng-model="newCourseObj.courseObj.childCourseID">
        </div>

        <button ng-click="checkParentSection()" class="btn btn-default">Submit</button>
      

      </form>
      <br>

      <div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
      <div class="alert alert-success" ng-show="successMessage">{{successMessage}}</div>

      <br>
      <br>

      

      <footer class="footer">
        <p>&copy; 2015 Company, Inc.</p>
      </footer>