<div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a ng-href="/#/dashboard">Dashboard</a></li>
            <li role="presentation"><a href="/#/home">Auth</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">{{apiCreds.account.name}}&nbsp;&nbsp;<span class="label label-default">{{apiCreds.account.id}}</span></h3>
      </div>

      <div class="jumbotron">
        
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>New Course Tool</h4>
          <p>Create one or multiple sections in any enrollment term.
          </p>
          <a class="btn btn-default" href="/#/new-course">Get Started<span class="glyphicon glyphicon-chevron-right"></span></a>

          <h4>Crosslist Tools</h4>
          <p>Perform an unambiguous crosslist or crosslist multiple courses into one course using this simple interface</p>
          <a class="btn btn-default" href="/#/crosslist">Get Started<span class="glyphicon glyphicon-chevron-right"></span></a>

          <h4>DEV Shell Tools</h4>
          <p>Get all the students in a course, create them DEV shells, and enroll them as non-academic instructors.</p>
          <a class="btn btn-default" href="/#/dev-shells">Get Started<span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>

        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2015 Company, Inc.</p>
      </footer>